# Kubernetes secrets
kubernetes/secret.yaml

# Terraform local state
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Terraform variables containing environment-specific values
terraform.tfvars

# Environment files
.env